html
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        a.brand(href='/') Projet Poisson Pilote
        |         
        ul.nav
          li
            a(href='/expedition.html') Exp&eacute;dition
          |             
          li
            a(href='/programme-educatif.html') Programme &eacute;ducatif
          |             
          li
            a(href='/sous-marin.html') Sous-marin
          |             
          li
            a(href='/equipe.html') Equipe
          |             
          li
            a(href='/partenaires.html') Partenaires
          | &#x9;&#x9;&#x9;
          li
            a(href='/onenparle.html') On en parle
          | &#x9;&#x9;&#x9;
          li
            a(href='/contact.html') Contact
        |         
        ul.nav.pull-right
          li
            a(href='/en/') English version
    .container
      | $body$
