.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    a.brand(href='/en/') Pilot Fish Project
    ul.nav
      li
        a(href='/en/expedition.html') Expedition
      li
        a(href='/en/educational-program.html') Educational Programme
      li
        a(href='/en/submarine.html') Submarine
      li
        a(href='/en/team.html') Team
      li
        a(href='/en/partners.html') Partners
      li
        a(href='/en/contact.html') Contact
    ul.nav.pull-right
      li
        a(href='/') Version fran&ccedil;aise
