.header
  .container
    .nav
      .logo
        a(href='/')
          img(alt="logo" src="images/LogoFRL-small.png")
      .toggle.visible-xs(data-aau="menutoggle" data-target=".nav-mobile")
        i.fa.fa-bars
      ul.nav.nav-mobile
        li
          a(href='/expedition.html') Exp&eacute;dition
        li
          a(href='/programme-educatif.html') Programme &eacute;ducatif
        li
          a(href='/sous-marin.html') Sous-marin
        li
          a(href='/equipe.html') Equipe
        li
          a(href='/partenaires.html') Partenaires
        li
          a(href='/onenparle.html') On en parle
        li
          a(href='/contact.html') Contact
      .flags.nav-mobile
        a(href='/')
          img(alt="logo" src="images/fr.jpg")
        a(href='/en/')
          img(alt="logo" src="images/en.jpg")
